In [77]:
import pandas as pd

In [87]:
data = pd.read_csv("../data/Suicides_wikipedia_scrapping_fr_LEMMATISER_AND_TAGS2.csv", sep=";")
data.head()

,Unnamed: 0,Unnamed: 0.1,Name,Link,Content,Content_Lemmatiser_No_Stop_Words,Content_Lemmatiser
0,0,0,Adolfo_Couve,https://fr.wikipedia.org/wiki/Adolfo_Couve,"['Fils', 'd', 'Adolfo', 'Couve', 'Braga', 'et'...","['fils', 'Adolfo', 'couve', 'Braga', 'Clemenci...","['fils', 'd', 'Adolfo', 'couve', 'Braga', 'et'..."
1,1,1,Boaz_Arad,https://fr.wikipedia.org/wiki/Boaz_Arad,"['Carrière', 'artistique', 'Artiste', 'multidi...","['carrière', 'artistique', 'artiste', 'multidi...","['carrière', 'artistique', 'artiste', 'multidi..."
2,2,2,Ralph_Barton,https://fr.wikipedia.org/wiki/Ralph_Barton,"['Originaire', 'de', 'Kansas', 'City', 'Missou...","['originaire', 'kansa', 'city', 'Missouri', 'n...","['originaire', 'de', 'kansa', 'city', 'Missour..."
3,3,3,Mark_Campos,https://fr.wikipedia.org/wiki/Mark_Campos,"['Cette', 'section', 'est', 'vide', 'insuffisa...","['détaillée', 'incomplète']","['ce', 'section', 'être', 'vide', 'insuffisamm..."
4,4,4,Michel_Caron_(artiste),https://fr.wikipedia.org/wiki/Michel_Caron_(ar...,"['Dès', 'l’enfance', 'Michel', 'Caron', 'veut'...","['Michel', 'caron', 'vouloir', 'devenir', 'com...","['dès', 'l’', 'Michel', 'caron', 'vouloir', 'd..."

In [88]:
list_of_biography = []
for row in data:
    if row != "['[]']":
        list_of_biography.append(eval(row))

SyntaxError: invalid syntax (<string>, line 1)

In [53]:
data_with_deathdate = pd.read_csv("../data/Suicide_withDBPedia_Values_fr.csv", sep=";")
data_with_deathdate = data_with_deathdate[["deathdate", "Name"]]
data_with_deathdate.head()

    deathdate            Name
0   1998-3-11    Adolfo_Couve
1   1931-5-19    Ralph_Barton
2   2003-3-14  Jack_Goldstein
3  1968-03-19   Paul_Markwitz
4  1941-03-28  Virginia_Woolf

In [68]:
persons_died_after_1900 = []
for i in range(len(data_with_deathdate["deathdate"])):
    try:
        deathdate = int(data_with_deathdate["deathdate"][i].split("-")[0])
        if deathdate >= 1900:
            persons_died_after_1900.append(data_with_deathdate["Name"][i])
    except ValueError:
        pass

In [72]:
len(persons_died_after_1900)

987

In [74]:
data[data['Name'].isin(persons_died_after_1900)]

,Unnamed: 0,Unnamed: 0.1,Name,Link,Content,Content_Lemmatiser_No_Stop_Words,Content_Lemmatiser
0,0,0,Adolfo_Couve,https://fr.wikipedia.org/wiki/Adolfo_Couve,"['Fils', 'd', 'Adolfo', 'Couve', 'Braga', 'et'...","['fils', 'Adolfo', 'couve', 'Braga', 'Clemenci...","['fils', 'd', 'Adolfo', 'couve', 'Braga', 'et'..."
2,2,2,Ralph_Barton,https://fr.wikipedia.org/wiki/Ralph_Barton,"['Originaire', 'de', 'Kansas', 'City', 'Missou...","['originaire', 'kansa', 'city', 'Missouri', 'n...","['originaire', 'de', 'kansa', 'city', 'Missour..."
8,8,8,Jack_Goldstein,https://fr.wikipedia.org/wiki/Jack_Goldstein,NaN,['[]'],[]
11,11,11,Paul_Markwitz,https://fr.wikipedia.org/wiki/Paul_Markwitz,"['Markwitz', 'suit', 'une', 'formation', 'prat...","['Markwitz', 'suivre', 'formation', 'pratique'...","['Markwitz', 'suivre', 'un', 'formation', 'pra..."
13,13,13,Virginia_Woolf,https://fr.wikipedia.org/wiki/Virginia_Woolf,"['Famille', 'et', 'enfance', 'Virginia', 'Wool...","['famille', 'enfance', 'jouer', 'cricket', 'po...","['famille', 'et', 'enfance', 'virginia', 'Wool..."
...,...,...,...,...,...,...,...
2015,2015,2015,Qiu_Miaojin,https://fr.wikipedia.org/wiki/Qiu_Miaojin,NaN,['[]'],[]
2017,2017,2017,Charles_Rocket,https://fr.wikipedia.org/wiki/Charles_Rocket,"['Cette', 'section', 'est', 'vide', 'insuffisa...","['section', 'vide', 'détaillée', 'incomplète',...","['ce', 'section', 'être', 'vide', 'insuffisamm..."
2023,2023,2023,Hidemitsu_Tanaka,https://fr.wikipedia.org/wiki/Hidemitsu_Tanaka,"['Tanaka', 'naît', 'dans', 'le', 'quartier', '...","['Tanaka', 'naître', 'quartier', 'Akasaka', 'T...","['Tanaka', 'naître', 'dans', 'le', 'quartier',..."
2048,2048,2048,Chujiro_Hayashi,https://fr.wikipedia.org/wiki/Chujiro_Hayashi,NaN,['[]'],[]
2073,2073,2073,Emilio_Salgari,https://fr.wikipedia.org/wiki/Emilio_Salgari,"['Emilio', 'Salgàri', 'naît', 'à', 'Vérone', '...","['Emilio', 'Salgàri', 'naître', 'Vérone', 'fam...","['Emilio', 'Salgàri', 'naître', 'à', 'Vérone',..."